@charset "utf-8";
/* CSS Document */
body{
	 font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}


button{
position: relative;
background:none;
border: none;
float: right;
top: .8rem;
}

button:hover{
	border: none;
	background: none;
	padding-top: .3rem;
}

button:focus{
	border: none;
	background-color:#3F98F3;
	padding-top: .3rem;
	outline: none;
	border-radius:50%
}

#it,#zh,#en{
	position: relative;
   right: .5rem;
}







nav{
	position:relative;
   top:2rem;
	left: 0rem;
	padding-left: 35%;
	
	}
	
nav li{
	display:block;
	background:url('lib/me01.png');
    background-size:contain;
    background-repeat:no-repeat;
	padding:3.5rem;
	transition-property:background-img, padding-left;
	transition-duration:2.5s;
	}
nav li:hover{
	
	background:url('lib/me02.png');
     background-size:contain;
    background-repeat:no-repeat;
	padding:5rem;
	padding-left:13rem;}	

nav li a{
	width:100%;
	height:100%;
	display:block;
	text-decoration: blink;
	color:#FFFFFF;
	cursor:help;
	}
	
nav li a:hover{
	color:#FF66CC;
	}	


@media (max-width: 770px) {
	nav{
	padding-left: 28%;
	
	}
	
}
